if env === 'production' && adsense
  #lmc
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    ins.adsbygoogle(style='display:inline-block;width:320px;height:100px', data-ad-client=adsense.client, data-ad-slot=adsense.adSlot)
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});
