.luke {
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 389px) {
  .luke {
    top: 2px;
    right: 2px;
    bottom: auto;
  }
}
